        /* MASTER-BLADE */

        header, main, footer {
        padding-left: 310px;
        }
        

        @media only screen and (max-width : 1000px) {
            header, main, footer {
            padding-left: 0;
            }
        }

        .btn{
            background: #1de9b6;
        }

        *{
            font-family: 'Segoe UI';
            
        }

        header{
            background-color:#009688;
            opacity: 0.95;
            width: 100%;
            height: 80px;
        } 

        body{
            font-family: 'Segoe UI';
           /* background-image: url("../img/gradient.jpg");*/
            background-color: #C8E6C9;
        }

        #progress {
         width: 500px;   
         border: 1px solid black;
         position: relative;
         padding: 3px;
        }

        #percent {
         position: absolute;   
         left: 50%;
        }

        #bar {
         height: 30px;
         background-color: #C8E6C9 ;
         width: 25%;
        }
        
        /* ADMIN PROFILE */

        /* SIDENAV CONTENT */

       /* #sidenav-ul{
            list-style-type: none;
            background: #00695C;
        }*/

        #sidenav-ul li{
            background: #C8E6C9;
        }

        #sidenav-ul li li{
            background: #C8E6C9;
        }

        #sidenav-ul :hover{
            background: #f5f5f5;
        }

        #sidenav-ul :visited{
           background: #f5f5f5;
        }

        #sidenav-ul :active{
            background: #f5f5f5;

        }

        #slide-out{
            margin-top: 60px;
            background: #69f0ae;
        }

        #slide-out:hover{
            background: #69f0ae;
        }

        #slide-out:active{
            background: #69f0ae;
        }

        #slide-out > li ul li :active{
            background: #e8f5e9;
        }

        #slide-out > li ul li :visited{
            background: #26A69A;
        }
        
        #slide-out > li ul li :hover{
            background: #26A69A;        
        }


        /* REAL TIME INPUT VALIDATION 

        .error{
            display: none;
            margin-left: 10px;
        }       

        .error_show{
            color: red;
            margin-left: 10px;
        }

        input.invalid, textarea.invalid{
            border: 2px solid red;
        }

        input.valid, textarea.valid{
            border: 2px solid yellow;
        }
        
        /* END REAL TIME INPUT VALIDATION STYLE */
        label{
            color: black;
        }


        h4{
            color: black;
            font-weight: bold;
            margin-left: 20px;
        }

        img{
            height: 100px;
            width: 100px;
        }
        

        /* TABS IN MEASUREMENT-BLADE */

        #detailTab{
            border: teal;
            border-top-left-radius: 20px;
            border-top-right-radius: 60px;
        }   
        
        #categoryTab{
            border: teal;
            border-top-left-radius: 20px;
            border-top-right-radius: 60px;
        }

        .tab{
            border: gray;
        }   

        .tab:hover{
            color: #1a237e;
        }

        .hue{
            width: col s12; 
            height: auto;
        }

        .tab .active{
            background: #009688;
        }

        .tab :selected{
            background-color: #80d8ff;
        }
        /* END OF TABS IN MEASUREMENT-BLADE */

        .modal{
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            left: 0;
            top: 0;
            overflow: auto; /* Enable scroll if needed */
            max-height: 100% !important;
        }

        .overflow-x {
        overflow-x: auto;
        }

        .breadcrumb { 
            list-style: none; 
            overflow: hidden; 
            font: 20px Helvetica, Arial, Sans-Serif;
        }
        .breadcrumb li { 
            float: left; 
        }
        .breadcrumb li a {
            color: black;
            text-decoration: none; 
            padding: 10px 0 10px 65px;
            background: #00b0ff;                   /* fallback color */
            background: hsla(186, 95%, 41%, 1);
            position: relative; 
            display: block;
            float: left;
        }

        .breadcrumb li a:after { 
            content: " "; 
            display: block; 
            width: 0; 
            height: 0;
            border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
            border-bottom: 50px solid transparent;
            border-left: 30px solid hsla(186, 95%, 41%, 1);
            position: absolute;
            top: 50%;
            margin-top: -50px; 
            left: 100%;
            z-index: 2; 
        }

        .breadcrumb li a:before { 
            content: " "; 
            display: block; 
            width: 0; 
            height: 0;
            border-top: 50px solid transparent;       
            border-bottom: 50px solid transparent;
            border-left: 30px solid white;
            position: absolute;
            top: 50%;
            margin-top: -50px; 
            margin-left: 1px;
            left: 100%;
            z-index: 2; 
        }


        .breadcrumb li:first-child a {
            padding-left: 10px;
        }
        .breadcrumb li:nth-child(2) a       { background:        hsla(186, 95%, 50%, 1); }
        .breadcrumb li:nth-child(2) a:after { border-left-color: hsla(186, 95%, 50%, 1); }
        .breadcrumb li:nth-child(3) a       { background:        hsla(186, 95%, 71%, 1); }
        .breadcrumb li:nth-child(3) a:after { border-left-color: hsla(186, 95%, 71%, 1); }


        .breadcrumb li a:hover { background: hsla(186, 95%, 31%, 1); }
        .breadcrumb li a:hover:after { border-left-color: hsla(186, 95%, 31%, 1) !important; }

        .breadcrumb li a.active{
            background: hsla(186, 95%, 11%, 1);
            color: white;
            font-weight:bold;
        }

        .breadcrumb li a.active:after{
            border-left-color: hsla(186, 95%, 11%, 1) !important;
        }
        

  .dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #4CAF50; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }


<style>
.pdfobject-container { height: 500px;}
.pdfobject { border: 1px solid #666; }
</style>

