html {
    font-family: Trebuchet, sans-serif;
}

<!--MASTER_BLADE-->
body{
  font-family: Trebuchet, sans-serif;
}
nav{
  background-color: transparent;
  box-shadow: 0px 0px;
  padding: 0;
}
.verticalLine{
  border-left: thick solid pink;
}
.btn{
  background: #cccccc;

}

#shoppingcart :hover{
	background: none;
}

<!--ORDER TRACKING-->
#progress {
 width: 500px;   
 border: 1px solid black;
 position: relative;
 padding: 3px;
}

#percent {
 position: absolute;   
 left: 50%;
}

#bar {
 height: 20px;
 background-color: teal;
 width: 60%;
}

#downdown :hover{
	background: lavender;
}

#down :hover{
	background: lavender;
}

#alter :hover{
	background: lavender;
}

#maleuniform{
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-image: url("../imgOnline/uniformheader.jpg");
}
#femaleuniform{
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-image: url("../imgOnline/unimehe1.jpg");
}
#gownheader{
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-image: url("../imgOnline/gownheader.jpg");
}
#suitheader{
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-image: url("../imgOnline/suitheader.jpg");
}

#backyy{
	 background-size: cover;
	 background-repeat: no-repeat;
}

.tab .active{
	background-color: #00bfa5;
}

.tab :selected{
	background-color: #00bfa5;
}

#video-wrap { 
	float: right; margin: 0 20px 50px 0; 
}

.sidemenu :hover{
	background-color: #b2dfdb;
	font-size:18px;
}

<!--For Homepage-->

#gallery {
	max-width:100%;
	height:auto;
}

#gallery img{

	width:75%;
}

#gallery h2{

	font-family:'Playfair Display','Times'; 
	position: absolute; 
	display: inline-block; 
	margin-top:250px; 
	padding:20px; 
	color:white; 
	background-color:teal;
}

#gallery p{

	font-size:20px; 
	padding-left:50px; 
	padding-right:50px;
}

#gallery a{

	background-color:#ede7f6;
	color:teal;
	font-weight: bold;
}

<!--For Individual Customer Profile-->

#ind_cust_profile {

	background-color: #ffffff;

} 

#ind_header span{

	font-size:40px; 
	color: #FFFFFF; 
	font-family:'Playfair Display','Times';
}

#ind_header p{

	width:80%;
	color:#ebebeb;
}

#head h3{

	color:#757575; 
	margin-left:15px;
}

#head span{

	margin:20px; 
	color:teal
}

#head a{

	margin-left: 20px;
}

#details h5{

	color: #757575; 
	font-family:'Playfair Display','Times';
}